<h1><%= @post.title %></h1>
<h2><%= @post.url %></h2>
<h2><%= @post.content %></h2>

<a href="<%= new_post_comment_url(@post.id) %>">Add Comment!</a>

<br>

<% @post.comments.each do |comment| %>
  <br>
  <%= comment.content %>
<% end %>
